header nav {
    background-color: navy;
    color: #fff;
    padding: 10px;
    display: block;
}

a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
}

a:hover {
    text-decoration: underline;
}

main {
    max-width: 840px;
}

main img {
    width: 200px;
    height: 200px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 10px;
    box-shadow: 3px 3px 1px #ccc;
}

h1 {
    color: navy;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

p {
    padding: 0;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}