* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: navy;
    padding: 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    padding: 5px;
    display: block;
}

a:hover {
    text-decoration: underline;
}

main {
    max-width: 840px;
}

main img {
    width: 150px;
    height: 150px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 5px;
    box-shadow: 3px 3px 1px #ccc;
    float: right;
}

h1 {
    color: navy;
    padding: 10px;
}

aside {
    width: 20em;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 0.7rem;
    background-color: #eee;
    color: #333;
    text-align: center;
    position: relative;
}

aside h2 {
    position: absolute;
    top: 27px;
    left: 80px;
    font-size: 1.2rem;
}

aside img {
    width: 200px;
    height: auto;
}

p {
    padding: 10px;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

/* Class Selectors */
.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
    margin-top: 2rem;
}